# SBT
boot/
lib_managed/
src_managed/
test-output/
target/
.history
.lib

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target/
.worksheet

# Mac
.DS_Store

# Other
*.swp
*.swo
tags
*.pyc
